
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card mt-5">
        <h5 class="card-header">Canlıdayız</h5>
        <div class="card-body">
            <h5 class="card-title">Sitemiz Yayında</h5>
            <p class="card-text"> içerik içerik</p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@

        </div>
    </div>

    <div class="card mt-5">
        <h5 class="card-header">Canlıdayız</h5>
        <div class="card-body">
            <h5 class="card-title">Sitemiz Yayında</h5>
            <p class="card-text"> içerik içerik</p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
    </div>
</div>
