
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio</title>
</head>
<body>
    <div> 
        <p>Portfolio Works </p>
    </div>
</body>
</html>
