
@{
    Layout = null;
}

@*   *@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @* Araştırın *@


    <title>Cemil</title>
</head>
<body>
    <h1>Cemil viewi</h1>
</body>
</html>
